.bg-custom-color {
    width: 100%;
    background-image: url('../images/xbanner.png.pagespeed.ic.cglMh6XWYb.png');
}
a {
    text-decoration: none !important;
}
.text-h2 {
    font-size: 1.3rem;
}
.text-danger-one {
    color: #DB9A64 !important;
}
.btn {
    transition: all .3s ease;
}
.btn:hover {
    background: #DB9A64 !important;
    color: white !important;
}
.border-danger-one {
    border: 1px solid #DB9A64 !important;
}
.border-danger-two {
    border: .1px solid #be987875 !important;
}
.fs-people {
    font-size: 4.5rem;
}
.custom-bg_container-fluid {
    background: #311e25 !important;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #db9a64;
    transition: width .6s ease;
}
.bg-custom {
    background: #3b2930;
}
.color-custom {
    background: #6b4b40;
}
.text-secondary-own {
    color: #c9c9c9;
}
.carousel-control-next, .carousel-control-prev {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 15%;
	color: #fff;
	text-align: center;
	opacity: .5;
	transition: opacity .15s ease;
    background: transparent;
    border: none;
    list-style: none;
}
.hover-project:hover {
    color: white !important;
    background: #DB9A64 !important;
}
.hover-project:hover .hover-project-one{
    color: white !important;
}